<section id="three" class="main style1 special">
  <div class="container">
    <header class="major">
      <h2>景点推荐</h2>
    </header>
    <p>根据明天的天气的情况，云上玩乐为你倾情推荐以下游玩好去处</p>
    <div class="row 150%">
      <div class="4u 12u$(medium) senic" *ngFor="let recommendInfo of recommendInfos">
        <span class="image fit"><img src={{recommendInfo.pic}} alt="" /></span>
        <h3>{{recommendInfo.name}}</h3>
        <p>{{recommendInfo.description}}</p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>